$gradient-color: linear-gradient(108deg,rgba(66, 103, 178, 0.9) -57.13%,#1877f2 11.08%,rgba(224, 230, 255, 0.9) 102.57% );
$color-white:#fff;
$gradient-blue:linear-gradient(315deg,#60a5fa,#2563eb);
$gray-button:#f3f4f6;
$light-gray:#E6E6E6F2;
$gray-medium:#666666;
$dark-gray:#333;
$black-color:#000;
$text-secondary:#000000B3;
$primary-color:#0866ff;
$blue-outline:#0866ff;
$magenta-color: #be185d;


